<style>
	td,th{ padding: 0 10px; text-align:center}
</style>

<div class='well'>
	<h2><%= @folder.title %></h2>
	<% if @folder.uploads.empty? %>
		No submissions yet!
	<% else %>
		<% if (@instructor_only and @folder.uploads.where('user_id = ?', @folder.course.instructor_id)) and
					(not @instructor_only and @folder.uploads.where('user_id = ?', current_user.id).empty?) %>
			No uploads.
		<% else %>
			<table style='text-align:center'>
				<tr>
					<th>Title</th>
					<th>Date</th>
					<th>Download</th>
				</tr>
				<tr>
					<% @folder.uploads.where('user_id = ?', (@folder.instructor_only ? @folder.course.instructor_id : current_user.id)).each do |u| %>
						<td><%= u.title %></td>
						<td><%= u.created_at.to_date %></td>
						<td><%= link_to '', u.attachment_url,
								:class => 'glyphicon glyphicon-save' %></td>
					<% end %>
				</tr>
			</table>
		<% end %>
	<% end %>
</div>
