<% if @department.users.where('role = ?', 1).empty? %>
	<em>No departments</em>
<% else %>
	<ul>
		<% @department.users.where('role = ?', 1).each do |u| %>
			<% if user_signed_in? and (current_user.id == u.id or current_user.admin?) %>
				<li><%= link_to u.full_name, user_path(u) %></li>
			<% else %>
				<li><%= u.full_name %></li>
			<% end %>
		<% end %>
	</ul>
<% end %>
