<div class='well'>
	<h3><%= "#{@department.abbreviation}: #{@department.title}" %></h3>
	
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
		  <div class="panel-heading" role="tab" id="headingOne">
		    <h4 class="panel-title">
		      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		        Courses
		      </a>
		    </h4>
		  </div>
		  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		    <div class="panel-body">
					<%= render 'courses' %>
		    </div>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading" role="tab" id="headingTwo">
		    <h4 class="panel-title">
		      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseTwo">
		        Instructors
		      </a>
		    </h4>
		  </div>
		  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		    <div class="panel-body">
					<%= render 'instructors' %>
		    </div>
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading" role="tab" id="headingThree">
		    <h4 class="panel-title">
		      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Students
		      </a>
		    </h4>
		  </div>
		  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		    <div class="panel-body">
					<%= render 'students' %>
		    </div>
		  </div>
		</div>
	</div>
</div>
