				<% if @book.people.empty? %>
					<em>No authors here.</em>
				<% else %>
					<% @book.people.each do |p| %>
						<%= link_to p.full_name, person_path(p), :style => 'display:inline-block; width: 10em' %>
						<% if @book.people.count > 1 and user_signed_in? and current_user.librarian? %>
							<%= link_to 'Remove', noauthor_path(:person => p, :book => @book), :remote => true, :data => {:confirm => "Remove '#{p.full_name}' as author from '#{@book.title}'?" } %>
						<% end %>
						<br/>
					<% end %>
				<% end %>
				<div id='newauthor'>
				</div>
				<% if user_signed_in? and current_user.librarian? %>
					<%= link_to 'Add Author', newauthor_path(:book => @book), :remote => true %>
				<% end %>
